[Unit]
Description=Reads data from HX711 and writes last known value to configured target file

[Service]
ExecStart=/usr/bin/elva-byra-scale --verbose
User=pi

[Install]
WantedBy=multi-user.target
